{% extends '@Etablissement/layout.html.twig' %}
{% block  middle%}
<!-- _________________________ Start Middle _________________________ -->
<div id="middle">
    <p>

        ********************************************************************************
        ********************************************************************************
        ********************************************************************************
        *************************************salmen*******************************************
        ********************************************************************************
        ********************************************************************************
        ********************************************************************************
    </p>
</div>
<!-- _________________________ Finish Middle _________________________ -->

    {% endblock %}